{% extends "base.html" %}

{% include "navbar.html" %}

{% block content %}


<div class="container">
    <div class="row mt-50">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center heading-separator" style="color:white">Edit Deal</h2>
            <form method="POST" action="{{ url_for('.edit_deal_complete')}}">
                <div class="row">
                  <label for="status" style="color:white">Status:</label>
                  <select class="selectpicker" name="status">
                    <option value="pursuit" selected>{{ info[2] }}</option>
                    <option value="won">Won</option>
                    <option value="dev">Dev</option>
                    <option value="closed">Closed</option>
                    <option value="lost">Lost</option>
                  </select>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                        <label for="partner" style="color:white">Partner:</label>
                        <input type="text" value="{{ info[0] }}" class="form-control" id="partner" name="partner">
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                        <label for="customer" style="color:white">Customer:</label>
                        <input type="text" value="{{ info[6] }}" class="form-control" id="customer" name="customer">
                      </div>
                  </div>
                    <div cla
                    <div class="col-sm-4">
                        <div class="form-group">
                          <label for="ope" style="color:white">OPE#:</label>
                          <input type="text" value="{{ info[5] }}" class="form-control" id="ope" name="ope">
                        </div>
                    </div>
                      <div cla
                    <div class="col-sm-8">
                        <div class="form-group">
                          <label for="deal" style="color:white">Deal:</label>
                          <input type="text" value="{{ info[1] }}"class="form-control" id="deal" name="deal">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                          <label for="price" style="color:white">Deal Size:</label>
                          <input type="text" value="{{ info[8] }}"class="form-control" id="price" name="price">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                          <label for="thoughts" style="color:white">Thoughts:</label>
                          <input type="text" value="{{ info[3] }}" class="form-control" id="thoughts" name="thoughts">
                        </div>
                    </div>

                        <div class="col-sm-12">
                          <div>
                            <label for="notes" style="color:white">Notes:</label>
                            <textarea id="notes" name="notes" rows="10" cols="100">{{ info[4] }}</textarea>
                          </div>
                        </div>





                    </div>
                    <input type="text" hidden value="{{ info[7] }}" id="number" name="number">
                </div>
                <div class="text-center mt-20">
                    <button class="btn btn-green">Edit Deal</button>
                </div>
            </form>
        </div>
    </div>




  {% endblock %}
