{% extends "base.html" %}

{% include "navbar.html" %}


{% block content %}

        <div class="col-lg-8">
                <!-- seo fact area start -->
                <div class="card">
                      <div class="card-body"
                        <h1>List of Action Items</h1>
                        <div class="data-tables datatable-dark">
                              <table id="example" class="styled-table">
                                    <thead class="text-capitalize">
                                        <tr>
                                            <th>Number</th>
                                            <th>Company</th>
                                            <th>Action</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for action in my_actions %}
                                            <tr>
                                                <td>{{action[0]}}</td>
                                                <td>{{action[1]}}</td>
                                                <td>{{action[2]}}</td>
                                                <td>{{action[3]}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                </table>
                      </div>
                </div>
        </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
      <label for="message" style="color:white">System Message:</label>
      <input type="text" readonly class="form-control" id="message" name="message" placeholder="{{ message }}">
    </div>
</div>

<div class="col-lg-8">
        <!-- seo fact area start -->
          <div class="card">
                <div class="card-body"
                <h2 class="header-title" style="color:white">database records</h2>
                      <div class="data-tables datatable-dark">
                            <table  class="styled table">
                                  <thead class="text-capitalize">
                                      <tr>
                                          <th>Deals</th>
                                          <th>Logs</th>
                                          <th>Action Items</th>
                                          <th>Companies</th>
                                          <th>Customers</th>
                                          <th>Meetings</th>
                                          <th>Travel</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td>{{stats[0]}}</td>
                                              <td>{{stats[1]}}</td>
                                              <td>{{stats[2]}}</td>
                                              <td>{{stats[3]}}</td>
                                              <td>{{stats[4]}}</td>
                                              <td>{{stats[5]}}</td>
                                              <td>{{stats[6]}}</td>
                                          </tr>
                                      </tbody>
                              </table>

                    </div>
            </div>

      </div>

      <script type="text/javascript">
        $(document).ready(function(){$('#example').DataTable();});
      </script>


  {% endblock %}
